.timeline-comment:not(.timeline-comment-current-user) .user-mention.highlight,
.timeline-comment:not(.timeline-comment-current-user) .team-mention.highlight  {
  background: yellow !important;
}

.timeline-comment.highlight:not(.timeline-comment-current-user) {
  border-color: yellow !important;
}

.timeline-comment.highlight:not(.timeline-comment-current-user):before {
  border-right-color: yellow !important;
}
